body {
    max-width: 95%;
    min-height: 90%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

table {
    border: 0.1rem solid;
}

td, th {
    border: 0.1rem double #444;
    padding: 0.1rem;
}

td * {
    margin: 0;
    padding: 0.1rem;
}

tr:hover {
    background-color: #DDD;
}

.flexing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
