html {
    font-family: sans-serif
}

a {
    text-decoration: none
}

a:hover {
    font-weight: bold
}

table {
    border: 0.1rem solid
}

td, th {
    border: 0.1rem double #444;
    padding: 0.1rem
}

tr:hover {
    background-color: #DDD
}
